Цель: Провести разведочный анализ данных по датасету.
Первым делоим ипротируем необходимые библиотеки.

In [1]:
import pandas as pd 
import numpy as np

Далее сипользуя команды считываем данные с файла(мой номер 19)

In [2]:
#считывание данных с файла
df = pd.read_csv('vgsales_19.csv')
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,7164,Discovery Kids: Dolphin Discovery,DS,2008.0,Simulation,505 Games,0.21,0.00,0.00,0.01,0.22
1,15834,LifeSigns: Surgical Unit,DS,2005.0,Simulation,JoWood Productions,0.01,0.01,0.00,0.00,0.02
2,11539,Sengoku Musou 3: Moushouden,Wii,2011.0,Action,Ackkstudios,0.00,0.00,0.08,0.00,0.08
3,593,LittleBigPlanet,PSP,2009.0,Platform,Sony Computer Entertainment,0.64,1.24,0.01,0.69,2.58
4,12211,Yoake Yori Ruriiro na: Brighter than Dawning Blue,PS2,2006.0,Adventure,Aria,0.00,0.00,0.07,0.00,0.07
...,...,...,...,...,...,...,...,...,...,...,...
548,4537,Castlevania: Portrait of Ruin,DS,2006.0,Platform,Konami Digital Entertainment,0.33,0.03,0.04,0.03,0.43
549,11524,Puzzler Mind Gym 3D,3DS,2011.0,Puzzle,Ubisoft,0.07,0.00,0.00,0.00,0.08
550,1366,Inazuma Eleven 2,DS,2009.0,Role-Playing,Nintendo,0.00,0.21,1.18,0.03,1.42
551,4135,Tomb Raider: Underworld,Wii,2008.0,Action,Eidos Interactive,0.14,0.28,0.00,0.06,0.48
552,3828,GT Pro Series,Wii,2006.0,Racing,Ubisoft,0.46,0.01,0.02,0.04,0.52

Для иследования, узнаем какой размер у наших данных.

In [3]:
#размеры данных
df.shape

(553, 11)

Выведем данные с конца

In [11]:
df.tail()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
548,4537,Castlevania: Portrait of Ruin,DS,2006.0,Platform,Konami Digital Entertainment,0.33,0.03,0.04,0.03,0.43
549,11524,Puzzler Mind Gym 3D,3DS,2011.0,Puzzle,Ubisoft,0.07,0.00,0.00,0.00,0.08
550,1366,Inazuma Eleven 2,DS,2009.0,Role-Playing,Nintendo,0.00,0.21,1.18,0.03,1.42
551,4135,Tomb Raider: Underworld,Wii,2008.0,Action,Eidos Interactive,0.14,0.28,0.00,0.06,0.48
552,3828,GT Pro Series,Wii,2006.0,Racing,Ubisoft,0.46,0.01,0.02,0.04,0.52

Теперь выведем первые 10 строк данных.

In [4]:
#вывод данных первых 10 строк
df.head(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,7164,Discovery Kids: Dolphin Discovery,DS,2008.0,Simulation,505 Games,0.21,0.00,0.00,0.01,0.22
1,15834,LifeSigns: Surgical Unit,DS,2005.0,Simulation,JoWood Productions,0.01,0.01,0.00,0.00,0.02
2,11539,Sengoku Musou 3: Moushouden,Wii,2011.0,Action,Ackkstudios,0.00,0.00,0.08,0.00,0.08
3,593,LittleBigPlanet,PSP,2009.0,Platform,Sony Computer Entertainment,0.64,1.24,0.01,0.69,2.58
4,12211,Yoake Yori Ruriiro na: Brighter than Dawning Blue,PS2,2006.0,Adventure,Aria,0.00,0.00,0.07,0.00,0.07
5,8988,Guilty Gear X2 #Reload,XB,2004.0,Fighting,Zoo Digital Publishing,0.11,0.03,0.00,0.01,0.15
6,12733,Viewtiful Joe: Red Hot Rumble,GC,2005.0,Action,Capcom,0.04,0.01,0.00,0.00,0.06
7,16103,Konami Classics Vol. 2,X360,2009.0,Misc,Konami Digital Entertainment,0.01,0.00,0.00,0.00,0.01
8,14796,Captain Morgane and the Golden Turtle,PS3,2012.0,Adventure,Reef Entertainment,0.00,0.02,0.00,0.01,0.03
9,10249,Sakura Taisen Hanagumi Tsuushin,SAT,1997.0,Misc,Sega,0.00,0.00,0.11,0.00,0.11

Посмотрим полную информацию о датасете, узнаем больше о столбцах, с которыми имеем дело.

In [5]:
#информация о датасете
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 553 entries, 0 to 552
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          553 non-null    int64
 1   Name          553 non-null    object
 2   Platform      553 non-null    object
 3   Year          547 non-null    float64
 4   Genre         553 non-null    object
 5   Publisher     551 non-null    object
 6   NA_Sales      553 non-null    float64
 7   EU_Sales      553 non-null    float64
 8   JP_Sales      553 non-null    float64
 9   Other_Sales   553 non-null    float64
 10  Global_Sales  553 non-null    float64
dtypes: float64(6), int64(1), object(4)
memory usage: 47.6+ KB

Вернемся к данным и посмотрим основные статистические показатели.

In [6]:
#основные статистические показатели
df.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,553.000000,547.000000,553.000000,553.000000,553.000000,553.000000,553.000000
mean,8612.222423,2006.014625,0.235931,0.139277,0.084213,0.046166,0.505877
std,4800.813202,5.837840,0.660787,0.503527,0.340180,0.164697,1.549313
min,7.000000,1981.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4361.000000,2002.000000,0.000000,0.000000,0.000000,0.000000,0.050000
50%,9029.000000,2007.000000,0.070000,0.020000,0.000000,0.010000,0.140000
75%,12888.000000,2010.000000,0.220000,0.090000,0.040000,0.030000,0.450000
max,16586.000000,2020.000000,11.380000,9.230000,6.500000,2.900000,30.010000

Теперь необходимо проверить данные на наличие пропусков.

In [8]:
#проверка наличия пропусков
df.isnull().sum()

Rank            0
Name            0
Platform        0
Year            6
Genre           0
Publisher       2
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

Также можно вывести размер данных более в удобном формате.

In [9]:
#размер данных
line_count = df.shape[0]
column_count = df.shape[1]
print('Всего строк: {}'.format(line_count))
print('Всего колонок: {}'.format(column_count))

Всего строк: 553
Всего колонок: 11

Произведем обработку датасета, удалим столбец 'NA_Sales'.

In [12]:
#удаление данных столбца 
df = df.drop(columns=['NA_Sales'])
df

,Rank,Name,Platform,Year,Genre,Publisher,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,7164,Discovery Kids: Dolphin Discovery,DS,2008.0,Simulation,505 Games,0.00,0.00,0.01,0.22
1,15834,LifeSigns: Surgical Unit,DS,2005.0,Simulation,JoWood Productions,0.01,0.00,0.00,0.02
2,11539,Sengoku Musou 3: Moushouden,Wii,2011.0,Action,Ackkstudios,0.00,0.08,0.00,0.08
3,593,LittleBigPlanet,PSP,2009.0,Platform,Sony Computer Entertainment,1.24,0.01,0.69,2.58
4,12211,Yoake Yori Ruriiro na: Brighter than Dawning Blue,PS2,2006.0,Adventure,Aria,0.00,0.07,0.00,0.07
...,...,...,...,...,...,...,...,...,...,...
548,4537,Castlevania: Portrait of Ruin,DS,2006.0,Platform,Konami Digital Entertainment,0.03,0.04,0.03,0.43
549,11524,Puzzler Mind Gym 3D,3DS,2011.0,Puzzle,Ubisoft,0.00,0.00,0.00,0.08
550,1366,Inazuma Eleven 2,DS,2009.0,Role-Playing,Nintendo,0.21,1.18,0.03,1.42
551,4135,Tomb Raider: Underworld,Wii,2008.0,Action,Eidos Interactive,0.28,0.00,0.06,0.48
552,3828,GT Pro Series,Wii,2006.0,Racing,Ubisoft,0.01,0.02,0.04,0.52

Так как в данных есть дубликаты, от них нужно избавиться, удалим их.

In [13]:
#удалени дубликатов(10 дубликатов вышло)
df = df.drop_duplicates()
df.shape

(543, 10)

Также можно еще раз проверить насколько пусты значения и на основе этих данных сделать вывод.

In [14]:
#обработка пропусков
df.isnull().mean() * 100

Rank            0.000000
Name            0.000000
Platform        0.000000
Year            1.104972
Genre           0.000000
Publisher       0.368324
EU_Sales        0.000000
JP_Sales        0.000000
Other_Sales     0.000000
Global_Sales    0.000000
dtype: float64

Больше всего пропусков было в столбце 'Year', таким образом, переменная подлежит удалению.

In [17]:
df = df.drop(columns=['Year'])
df

,Rank,Name,Platform,Genre,Publisher,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,7164,Discovery Kids: Dolphin Discovery,DS,Simulation,505 Games,0.00,0.00,0.01,0.22
1,15834,LifeSigns: Surgical Unit,DS,Simulation,JoWood Productions,0.01,0.00,0.00,0.02
2,11539,Sengoku Musou 3: Moushouden,Wii,Action,Ackkstudios,0.00,0.08,0.00,0.08
3,593,LittleBigPlanet,PSP,Platform,Sony Computer Entertainment,1.24,0.01,0.69,2.58
4,12211,Yoake Yori Ruriiro na: Brighter than Dawning Blue,PS2,Adventure,Aria,0.00,0.07,0.00,0.07
...,...,...,...,...,...,...,...,...,...
548,4537,Castlevania: Portrait of Ruin,DS,Platform,Konami Digital Entertainment,0.03,0.04,0.03,0.43
549,11524,Puzzler Mind Gym 3D,3DS,Puzzle,Ubisoft,0.00,0.00,0.00,0.08
550,1366,Inazuma Eleven 2,DS,Role-Playing,Nintendo,0.21,1.18,0.03,1.42
551,4135,Tomb Raider: Underworld,Wii,Action,Eidos Interactive,0.28,0.00,0.06,0.48
552,3828,GT Pro Series,Wii,Racing,Ubisoft,0.01,0.02,0.04,0.52

Теперь заменим значения в столбце 'Publisher', чтобы убрать пропуски. Но так же можно было использовать подстановщик, но только к столбцу 'Year'. А так как столбец удален изза множества пропусков, можно просто заменить значения и избавится от пропусков.

In [20]:
df = df.replace({'Publisher' :np.nan}, 'Ужас')
df.isnull().mean() * 100

Rank            0.0
Name            0.0
Platform        0.0
Genre           0.0
Publisher       0.0
EU_Sales        0.0
JP_Sales        0.0
Other_Sales     0.0
Global_Sales    0.0
dtype: float64

И в завершении проведем сортировку значения на месте в столбце 'JP_Sales' и выведем значения которые наиболее популярны в данном столбце.

In [42]:
#Сортировка значений на месте
df.sort_values(by='JP_Sales', ascending=False, inplace=True)
df.head(8)

,Rank,Name,Platform,Genre,Publisher,EU_Sales,JP_Sales,Other_Sales,Global_Sales
60,7,New Super Mario Bros.,DS,Platform,Nintendo,9.23,6.50,2.90,30.01
471,373,Donkey Kong Country 3: Dixie Kong's Double Tro...,SNES,Platform,Nintendo,0.50,1.75,0.08,3.51
196,70,Gran Turismo 2,PS,Racing,Sony Computer Entertainment,3.42,1.69,0.50,9.49
59,1326,4 Nin uchi Mahjong,NES,Misc,Nintendo,0.00,1.45,0.00,1.45
62,1523,Romancing SaGa 3,SNES,Role-Playing,SquareSoft,0.00,1.29,0.01,1.30
550,1366,Inazuma Eleven 2,DS,Role-Playing,Nintendo,0.21,1.18,0.03,1.42
122,1574,Devil Dice,PS,Puzzle,THQ,0.03,1.10,0.08,1.26
289,721,Dissidia: Final Fantasy,PSP,Fighting,Square Enix,0.51,0.91,0.32,2.25

Вывод: В ходе данной практической работы был проведен разведочный анализ данных по датасету, а так же выявлена самая популярная игра "New Super Mario Bros".